@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="container">   
    <div class="contact-left">    
        <div class="page-title">
            <h1>@T("PageTitle.ContactUs")</h1>
        </div>
        <div class="page-body">
            @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
            @if (Model.SuccessfullySent)
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            else
            {
                <form asp-route="ContactUs" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="inputs">
                                <label asp-for="FullName" asp-postfix=":"></label>
                                <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                                <nop-required />
                                <span asp-validation-for="FullName"></span>
                            </div>
                            <div class="inputs">
                                <label asp-for="Email" asp-postfix=":"></label>
                                <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email"/>
                                <nop-required />
                                <span asp-validation-for="Email"></span>
                            </div>
                            @if (Model.SubjectEnabled)
                            {
                                <div class="inputs">
                                    <label asp-for="Subject" asp-postfix=":"></label>
                                    <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
                                    <nop-required />
                                    <span asp-validation-for="Subject"></span>
                                </div>
                            }
                            <div class="inputs">
                                <label asp-for="Enquiry" asp-postfix=":"></label>
                                <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                                <nop-required />
                                <span asp-validation-for="Enquiry"></span>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    <nop-captcha />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("ContactUs.Button")" />
                    </div>
                </form>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
        </div>
    </div>

    <div class=" contact-right">
        @*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })*@
        <div id="googleMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.7495018408636!2d-90.36956798433215!3d38.56258487421424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8c950d09c7c29%3A0x151b1f8b0939e16e!2s8976+Watson+Rd+Suite+A%2C+St.+Louis%2C+MO+63119!5e0!3m2!1sen!2sus!4v1561139831317!5m2!1sen!2sus" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>   
    </div>


</div>
</div>
